<div class="about row">
    <div class="polaroid-img col-md-3">
        <a href="javascript:void(0)">
            <img height="350px" src="images/about_us.png" alt="About Us" />
        </a>
    </div>
    <div class="col-md-9">
        <div class="about row">
            <div class="jumbotron">
                <h2>Hi, We are Gadgetz4u!</h2>
                <p class="lead">
                    Our daily obsession is to think about how to get the best price for your gadget.</p>
            </div>
            <div class='twitter_share'>
                <div class="fb-like" data-href="https://www.facebook.com/gadgetz4u.in" data-layout="standard" data-action="like" data-size="small"
                    data-show-faces="false" data-share="false"></div>

                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out the brand new website." data-via="gadgetz4u.in">Tweet</a>

                <a href="https://twitter.com/gadgetz4u_in" class="twitter-follow-button" data-show-count="false">Follow @gadgetz4u.in</a>
            </div>
        </div>
    </div>
</div>