<div class="home row">
    <!--<div class="polaroid-img col-md-4">
        <a href="javascript:void(0)">
            <img height="300px" src="images/home.png" alt="Home" />
        </a>
    </div>-->
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Welcome</h2>
            <p class="lead">
                to our newly redesigned website! It provides great insight about the latest gadgets and best deals.</p>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-12">
        <div class="fb-page" data-href="https://www.facebook.com/gadgetz4u.in" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true"
            data-hide-cover="true" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/gadgetz4u.in" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gadgetz4u.in">Gadgetz4U Enterprises</a></blockquote>
        </div>
    </div>
</div>-->

<div class="home row">
    <div class="col-md-12">
        <div class="hSlickCarousel">
            <a [routerLink]="['/products', { c: 'Laptops', cId: '0' }]">
                <div class="item color1">
                    <img src="images/laptop.png" alt="Laptop" class="image-responsive">
                    <h3>Laptops</h3>
                    <p>Special deals on HP Laptops</p>
                </div>
            </a>
            <a [routerLink]="['/products', { c: 'Mobiles', cId: '1' }]">
                <div class="item color2">
                    <img src="images/mobile.png" alt="Mobile" class="image-responsive">
                    <h3>Mobiles</h3>
                    <p>The way you like</p>
                </div>
            </a>
            <a [routerLink]="['/products', { c: 'TV', cId: '2' }]">
                <div class="item color3">
                    <img src="images/tv.png" alt="TV" class="image-responsive">
                    <h3>Television</h3>
                    <p>Save upto 40%</p>
                </div>
            </a>
            <a [routerLink]="['/products', { c: 'A/C', cId: '3' }]">
                <div class="item color4">
                    <img src="images/ac.png" alt="AC" class="image-responsive">
                    <h3>Air Conditioner</h3>
                    <p>Best deals are here</p>
                </div>
            </a>
            <a [routerLink]="['/products', { c: 'Accessories', cId: '5' }]">
                <div class="item color5">
                    <img src="images/accessories.png" alt="Accessories" class="image-responsive">
                    <h3>Accessories</h3>
                    <p>Great addons</p>
                </div>
            </a>
        </div>
    </div>
</div>