#owl a:hover{
    text-decoration: none;
}
#owl .item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 100px 0px;
    margin: 10px;
    color: #FFF;
}
#owl .item img {
    margin-top: -18px;
    margin-left: -35%;
    position: absolute;
}
#owl .item p {
    font-size: 18px;
    font-weight: 200;
}
#owl .item h3 {
    font-size: 32px;
}
/* color from https://color.adobe.com/Modern-Office-color-theme-42613 */
.color1 {
    background: #14212B;
}
.color2 {
    background: #293845;
}
.color3 {
    background: #4F6373;
}
.color4 {
    background: #8F8164
}
.color5 {
    background: #D9D7AC;
}