.hSlickCarousel {
    padding: 20px;
}
.hSlickCarousel a:hover{
    text-decoration: none;
}
.hSlickCarousel img:hover {
    cursor: pointer; cursor: hand;
}
.hSlickCarousel .item {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    padding: 40px 0px;
    margin: 10px;
    color: #FFF;
}
.hSlickCarousel .item img {
    /*margin-top: -18px;
    margin-left: 2%;
    position: absolute;*/
    margin: auto;
}
.hSlickCarousel .item p {
    font-size: 18px;
    font-weight: 200;
}
.hSlickCarousel .item h3 {
    font-size: 32px;
}
/* color from https://color.adobe.com/Modern-Office-color-theme-42613 */
.color1 {
    background: #14212B;
}
.color2 {
    background: #293845;
}
.color3 {
    background: #4F6373;
}
.color4 {
    background: #8F8164
}
.color5 {
    background: #D9D7AC;
}
.slick-slide {
    outline: none !important;
}