<div class="howdy row" *ngIf="loginUser.user">

    <div class="col-md-12">
        <p>G a d g e t z 4 u | D a s h b o a r d</p>
        <div class='howdyLogin'>
            <span>{{loginUser.user.auth.email}} logged in | </span>
            <a (click)='howdyLogout()'>Logout</a>
        </div>
        <!-- categories -->
        <div class="btn-group" *ngIf="fbCategories">
            <button type="button" id="btnCategory" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Categories 
                <span class="caret"></span>
            </button>
            <ul id="ddCategory" class="dropdown-menu">
                <li>
                    <a (click)="newCategory()">Add New Category</a>
                </li>
                <li role="separator" class="divider"></li>
                <li *ngFor="let categories of fbCategories | async;">
                    <a (click)="getBrands(categories.$key, categories.Name)">{{categories.Name}}</a>
                </li>
            </ul>
        </div>

        <!-- brand -->
        <div class="btn-group" *ngIf="fbCategoriesBrands">
            <button type="button" id="btnBrand" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brand 
                <span class="caret"></span>
            </button>
            <ul id="ddBrand" class="dropdown-menu" *ngIf="selectedCategory">
                <li>
                    <a (click)="newBrand()">Add New Brand</a>
                </li>
                <li role="separator" class="divider"></li>
                <li *ngFor="let brand of fbCategoriesBrands | async;">
                    <a (click)="getProducts(brand.$key, brand.Name)">{{brand.Name}}</a>
                </li>
            </ul>
        </div>

        <!-- Product -->
        <div class="btn-group" *ngIf="fbProducts">
            <button type="button" id="btnProduct" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Product 
                <span class="caret"></span>
            </button>
            <ul id="ddProduct" class="dropdown-menu" *ngIf="selectedBrand">
                <li>
                    <a (click)="newProduct()">Add New Product</a>
                </li>
                <li role="separator" class="divider"></li>
                <li *ngFor="let product of fbProducts | async">
                    <a (click)="getProduct(product.$key, product.Name)">{{product.Name}}</a>
                </li>
            </ul>
        </div>

        <div class='selectedProduct'>
            <div class="title" *ngIf="selectedCategory">
                S e l e c t e d |
                <span> {{selectedCategory}} </span>
                <span *ngIf="selectedBrand"> > {{selectedBrand}} </span>
                <span *ngIf="selectedProduct"> > {{selectedProduct}} </span>
            </div>

            <!-- add category -->
            <div *ngIf="addNewCategory">
                <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory(addCategoryForm.value)">
                    <div class="input-group">
                        <span class="input-group-addon">Category Name</span>
                        <input type="text" class="form-control" #newCategory required placeholder="New Category Name" formControlName="newCategory">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">
                    Add Category
                    </button>
                </form>
            </div>

            <!-- add brand -->
            <div *ngIf="addNewBrand">
                <form [formGroup]="addBrandForm" (ngSubmit)="addBrand(addBrandForm.value)">
                    <div class="input-group">
                        <span class="input-group-addon">Brand Name</span>
                        <input type="text" class="form-control" #newBrand required placeholder="New Brand Name" formControlName="newBrand">
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">
                    Add Brand
                    </button>
                </form>
            </div>

            <!-- product details -->
            <div *ngIf="selectedProduct || addNewProduct">
                <form [formGroup]="addProductForm" (ngSubmit)="addupdateProduct(addNewProduct, addProductForm.value)">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input type="text" class="form-control" #pName value="{{ (fbProductDetails | async)?.Name }}" required formControlName="Name">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <input type="text" class="form-control" #pDesc value="{{ (fbProductDetails | async)?.Description }}" required formControlName="Description">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Image Link #1</span>
                        <input type="text" class="form-control" #pImgLink value="{{ (fbProductDetails | async)?.ImageLink }}" required formControlName="ImageLink">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Image Link #2</span>
                        <input type="text" class="form-control" #pImgLink1 value="{{ (fbProductDetails | async)?.ImageLink1 }}" required formControlName="ImageLink1">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Image Link #3</span>
                        <input type="text" class="form-control" #pImgLink2 value="{{ (fbProductDetails | async)?.ImageLink2 }}" required formControlName="ImageLink2">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Image Link #4</span>
                        <input type="text" class="form-control" #pImgLink3 value="{{ (fbProductDetails | async)?.ImageLink3 }}" required formControlName="ImageLink3">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Details</span>
                        <textarea tinyMCE class="form-control tinyMCE" rows="7" #pDetails>
                        {{ loadTinyMCE((fbProductDetails | async)?.Details) }}
                    </textarea>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">MRP</span>
                        <input type="text" class="form-control" #pMRP value="{{ (fbProductDetails | async)?.MRP }}" required formControlName="MRP">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon">Price</span>
                        <input type="text" class="form-control" #pPrice value="{{ (fbProductDetails | async)?.Price }}" required formControlName="Price">
                    </div>
                    <br/>
                    <button *ngIf="addNewProduct" type="submit" class="btn btn-primary">
                    Add Product
                    </button>
                    <button *ngIf="selectedProduct" type="submit" class="btn btn-primary">
                    Update
                    </button>
                    <button *ngIf="selectedProduct" type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteProductModal">
                    Delete
                    </button>
                </form>
            </div>
        </div>
        <!-- alert start -->
        <div class="alert alert-{{howdyAlertType}} alert-dismissible" *ngIf="howdyAlert" role="alert">
            <button type="button" class="close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>{{howdyAlertType}}: </strong> {{howdyAlertMsg}}
        </div>
        <!-- alert end -->
    </div>
</div>


<!-- delete modal dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="deleteProductModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Product</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteProduct()">Yes</button>
            </div>
        </div>
    </div>
</div>