<div class="howdy row">

    <div class="col-md-12">
        <p>H o w d y | D a s h b o a r d</p>

        <!-- categories -->
        <div class="btn-group">
            <button type="button" id="btnCategory" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Categories 
                <span class="caret"></span>
            </button>
            <ul id="ddCategory" class="dropdown-menu">
                <li *ngFor="let categories of fbCategories | async">
                    <a (click)="selectCategory(categories.name)">{{categories.name}}</a>
                </li>
            </ul>
        </div>

        <!-- brand -->
        <div class="btn-group">
            <button type="button" id="btnBrand" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brand 
                <span class="caret"></span>
            </button>
            <ul id="ddBrand" class="dropdown-menu" *ngIf="selectedCategory">
                <li *ngFor="let brand of fbCategoriesBrands | async; let index = index">
                    <a (click)="selectBrand(index, brand.name)">{{brand.name}}</a>
                </li>
            </ul>
        </div>

        <!-- Product -->
        <div class="btn-group">
            <button type="button" id="btnProduct" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Product 
                <span class="caret"></span>
            </button>
            <ul id="ddProduct" class="dropdown-menu" *ngIf="selectedBrand">
                <li>
                    <a (click)="newProduct()">Add New Product</a>
                </li>
                <li role="separator" class="divider"></li>
                <li *ngFor="let product of fbProducts | async; let index = index">
                    <a (click)="selectProduct(index, product.Name)">{{product.Name}}</a>
                </li>
            </ul>
        </div>

        <div class='selectedProduct'>
            <div class="title">
                S e l e c t e d P r o d u c t | {{selectedCategory}} > {{selectedBrand}} > {{selectedProduct}}
            </div>
            <!-- product details -->
            <div *ngIf="selectedProduct || addNewProduct">

                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input type="text" class="form-control" #pName value="{{ (fbProductDetails | async)?.Name }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input type="text" class="form-control" #pDesc value="{{ (fbProductDetails | async)?.Description }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Image Link</span>
                    <input type="text" class="form-control" #pImgLink value="{{ (fbProductDetails | async)?.ImageLink }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Details</span>
                    <textarea class="form-control" rows="7" #pDetails>{{ (fbProductDetails | async)?.Details }}</textarea>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">MRP</span>
                    <input type="text" class="form-control" #pMRP value="{{ (fbProductDetails | async)?.MRP }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input type="text" class="form-control" #pPrice value="{{ (fbProductDetails | async)?.Price }}">
                </div>
                <br/>
                <button *ngIf="addNewProduct" type="submit" class="btn btn-primary" (click)="addProduct(pName.value, pDesc.value, pImgLink.value, pDetails.value, pMRP.value, pPrice.value)">
                    Add Product
                </button>
                <button *ngIf="selectedProduct" type="submit" class="btn btn-primary" (click)="updateProduct(pName.value, pDesc.value, pImgLink.value, pDetails.value, pMRP.value, pPrice.value)">
                    Update
                </button>
                <button *ngIf="selectedProduct" type="submit" class="btn btn-danger" (click)="deleteProduct()">
                    Delete
                </button>
            </div>
        </div>

    </div>

</div>