<div class="howdy row" *ngIf="loginUser.user">

    <div class="col-md-12">
        <p>G a d g e t z 4 u | D a s h b o a r d</p>
        <div class='howdyLogin'>
            <span>{{loginUser.user.auth.email}} logged in | </span>
            <a (click)='howdyLogout()'>Logout</a>
        </div>
        <!-- categories -->
        <div class="btn-group" *ngIf="fbCategories">
            <button type="button" id="btnCategory" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Categories 
                <span class="caret"></span>
            </button>
            <ul id="ddCategory" class="dropdown-menu">
                <li *ngFor="let categories of fbCategories | async; let index = index">
                    <a (click)="getBrands(index, categories.Name)">{{categories.Name}}</a>
                </li>
            </ul>
        </div>

        <!-- brand -->
        <div class="btn-group" *ngIf="fbCategoriesBrands">
            <button type="button" id="btnBrand" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brand 
                <span class="caret"></span>
            </button>
            <ul id="ddBrand" class="dropdown-menu" *ngIf="selectedCategory">
                <li *ngFor="let brand of fbCategoriesBrands | async; let index = index">
                    <a (click)="getProducts(index, brand.Name)">{{brand.Name}}</a>
                </li>
            </ul>
        </div>

        <!-- Product -->
        <div class="btn-group" *ngIf="fbProducts">
            <button type="button" id="btnProduct" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Product 
                <span class="caret"></span>
            </button>
            <ul id="ddProduct" class="dropdown-menu" *ngIf="selectedBrand">
                <li>
                    <a (click)="newProduct()">Add New Product</a>
                </li>
                <li role="separator" class="divider"></li>
                <li *ngFor="let product of fbProducts | async">
                    <a (click)="getProduct(product.$key, product.Name)">{{product.Name}}</a>
                </li>
            </ul>
        </div>

        <div class='selectedProduct' *ngIf="selectedCategory">
            <div class="title">
                S e l e c t e d P r o d u c t |
                <span> {{selectedCategory}} </span>
                <span *ngIf="selectedBrand"> > {{selectedBrand}} </span>
                <span *ngIf="selectedProduct"> > {{selectedProduct}} </span>
            </div>
            <!-- product details -->
            <div *ngIf="selectedProduct || addNewProduct">

                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input type="text" class="form-control" #pName value="{{ (fbProductDetails | async)?.Name }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Description</span>
                    <input type="text" class="form-control" #pDesc value="{{ (fbProductDetails | async)?.Description }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Image Link #1</span>
                    <input type="text" class="form-control" #pImgLink value="{{ (fbProductDetails | async)?.ImageLink }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Image Link #2</span>
                    <input type="text" class="form-control" #pImgLink1 value="{{ (fbProductDetails | async)?.ImageLink1 }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Image Link #3</span>
                    <input type="text" class="form-control" #pImgLink2 value="{{ (fbProductDetails | async)?.ImageLink2 }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Image Link #4</span>
                    <input type="text" class="form-control" #pImgLink3 value="{{ (fbProductDetails | async)?.ImageLink3 }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Details</span>
                    <textarea tinyMCE class="form-control tinyMCE" rows="7" #pDetails>
                        {{ loadTinyMCE((fbProductDetails | async)?.Details) }}
                    </textarea>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">MRP</span>
                    <input type="text" class="form-control" #pMRP value="{{ (fbProductDetails | async)?.MRP }}">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input type="text" class="form-control" #pPrice value="{{ (fbProductDetails | async)?.Price }}">
                </div>
                <br/>
                <button *ngIf="addNewProduct" type="submit" class="btn btn-primary" 
                (click)="addProduct(pName.value, pDesc.value, pImgLink.value, pImgLink1.value, pImgLink2.value, pImgLink3.value, pDetails.value, pMRP.value, pPrice.value)">
                    Add Product
                </button>
                <button *ngIf="selectedProduct" type="submit" class="btn btn-primary" 
                (click)="updateProduct(pName.value, pDesc.value, pImgLink.value, pImgLink1.value, pImgLink2.value, pImgLink3.value, pDetails.value, pMRP.value, pPrice.value)">
                    Update
                </button>
                <button *ngIf="selectedProduct" type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteProductModal">
                    Delete
                </button>
            </div>
        </div>
        <!-- alert start -->
        <div class="alert alert-{{howdyAlertType}} alert-dismissible" *ngIf="howdyAlert" role="alert">
            <button type="button" class="close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>
            <strong>{{howdyAlertType}}: </strong> {{howdyAlertMsg}}
        </div>
        <!-- alert end -->
    </div>
</div>


<!-- delete modal dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="deleteProductModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Product</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteProduct()">Yes</button>
            </div>
        </div>
    </div>
</div>