<div class="login jumbotron center-block">
    <h1>Welcome</h1>
    <p>Login to access the dashboard</p>
    <div class="form-group">
        <!--<label for="username">Username</label>-->
        <input type="text" #username class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <!--<label for="password">Password</label>-->
        <input type="password" #password class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="loginUser(username.value, password.value)">Submit</button>
</div>
<!-- alert start -->
<div class="alert alert-{{loginAlertType}} alert-dismissible" *ngIf="loginAlert" role="alert">
    <button type="button" class="close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>
    {{loginAlertMsg}}
</div>
<!-- alert end -->