<div class="products row">

    <div *ngIf="fbCategories != null" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mmBar">
            <!-- category btn -->
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="!selectedCategory">
                   Category : All &nbsp; &nbsp; <span class="caret"></span>
                </button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="selectedCategory">
                   Category : {{selectedCategory}} &nbsp; &nbsp; <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" *ngIf="fbCategories">
                    <li><a (click)="selectDefault()" *ngIf="selectedCategory">All</a></li>
                    <li role="separator" class="divider" *ngIf="selectedCategory"></li>
                    <li *ngFor="let categories of fbCategories | async;" [class.active]="isCategoryActive(categories.Name)">
                        <a class="mmLink" [routerLink]="['/products', { c: categories.Name, cId: categories.$key }]">
                            {{categories.Name}}
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Brand btn -->
            <div class="btn-group" *ngIf="selectedCategory">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="!selectedBrand">
                    Brand : All &nbsp; &nbsp; <span class="caret"></span>
                </button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="selectedBrand">
                    Brand : {{selectedBrand}} &nbsp; &nbsp;  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" *ngIf="fbCategoriesBrands">
                    <li *ngFor="let brand of fbCategoriesBrands | async;" [class.active]="isBrandActive(brand.Name)">
                        <a class="mmLink" [routerLink]="['/products', { c: selectedCategory, cId: selectedCategoryId, b: brand.Name }]">
                            {{brand.Name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="fbCategories != null" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pDetailsPane">
            <router-outlet>

                <!-- alert start -->
                <div class="row row-centered" *ngIf="productAlert">
                    <div class="col-md-12">
                        <div class="alert alert-{{productAlertType}} alert-dismissible" role="alert">
                            <button type="button" class="close" (click)="closeAlert()"><span aria-hidden="true">&times;</span></button>                            {{productAlertMsg}}
                        </div>
                    </div>
                </div>
                <!-- alert ends -->

                <div class="productQueryLoading" *ngIf='productQueryStatus =="Loading"'>
                </div>
                <div class="productQueryEmpty" *ngIf='productQueryStatus =="Empty"'>
                    Oops, no products available at this moment.
                </div>

                <!-- product tile dynamic content start -->
                <div class="productTile row row-centered" *ngIf="!selectedProductId">
                    <div class='col-xs-12 col-sm-4 col-md-3 col-lg-2 col-centered' *ngFor="let product of fbProducts | async">
                        <a class='nostyle' [routerLink]="['/products', 
                                                            { c: product.Categories, 
                                                              cId: product.CategoriesId, 
                                                              b: product.Brands, 
                                                              pId: product.$key}]">
                            <div class='pHeader'>
                                <h3>{{product.Name}}</h3>
                                <h6>{{product.Description}}</h6>
                                <hr/>
                            </div>
                            <div class='pContent'>
                                <img src='{{product.ImageLink}}'>
                            </div>
                            <div class="pFooter">
                                <hr/>
                                <div class='mrp'>{{product.MRP}}</div>
                                <div class='price'>{{product.Price}}</div>
                            </div>
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <!-- product tile dynamic content ends -->

                <!-- product details dynamic content start -->
                <div class="productDetails row row-centered" *ngIf="selectedProductId">
                    <div class="col-md-7">
                        <div class="mSlickCarousel">
                            <div class="pImage">
                                <img src="{{ (fbProductDetails | async)?.ImageLink }}" class="image-responsive" />
                            </div>
                            <div class="pImage">
                                <img src="{{ (fbProductDetails | async)?.ImageLink1 }}" class="image-responsive" />
                            </div>
                            <div class="pImage">
                                <img src="{{ (fbProductDetails | async)?.ImageLink2 }}" class="image-responsive" />
                            </div>
                            <div class="pImage">
                                <img src="{{ (fbProductDetails | async)?.ImageLink3 }}" class="image-responsive" />
                            </div>
                        </div>
                        {{loadCarousel()}}
                        <div class="tSlickCarousel">
                            <div class="pImage">
                                <img src="{{ (fbProductDetails | async)?.ImageLink }}" class="image-responsive" />
                            </div>
                            <div class="pImage">
                                <img src="{{ (fbProductDetails | async)?.ImageLink1 }}" class="image-responsive" />
                            </div>
                            <div class="pImage">
                                <img src="{{ (fbProductDetails | async)?.ImageLink2 }}" class="image-responsive" />
                            </div>
                            <div class="pImage">
                                <img src="{{ (fbProductDetails | async)?.ImageLink3 }}" class="image-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 pDetails">
                        <div class="row">
                            <div class="col-md-12 pName">
                                <h2>{{ (fbProductDetails | async)?.Name }}</h2>
                                <!-- Page title -->
                                {{updatePageTileWithProductInfo( (fbProductDetails | async)?.Name, (fbProductDetails | async)?.Price, (fbProductDetails |
                                async)?.MRP )}}
                                <!-- Page meta -->
                                {{ CreateMetaElement('og:url', 'http://www.your-domain.com/your-page.html') }}
                                {{ CreateMetaElement('og:type', 'website') }}
                                {{ CreateMetaElement('og:title', (fbProductDetails | async)?.Name) }}
                                {{ CreateMetaElement('og:description', 'Checkout this deal!') }}
                                {{ CreateMetaElement('og:image',(fbProductDetails | async)?.ImageLink) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pDescription">
                                <span class="monospaced">{{ (fbProductDetails | async)?.Description }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pPrice">
                                <div>
                                    <span class="mrp">{{ (fbProductDetails | async)?.MRP }}</span>
                                    <span class="per label label-success">{{ calcPer((fbProductDetails | async)?.Price, (fbProductDetails | async)?.MRP) }}</span>
                                </div>
                                <div>
                                    <span class="price">{{ (fbProductDetails | async)?.Price }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pShare">
                                <!-- fb share -->
                                <div class="fb-share-button" data-layout="button">
                                    <a class="fb-xfbml-parse-ignore" target="_blank">Share</a>
                                </div>
                                <!-- twitter share -->
                                <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out this deal." data-via="gadgetz4u.in">Tweet</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 pDetails">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="pTitle">Product Details</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span [innerHtml]="sanitizer.bypassSecurityTrustHtml((fbProductDetails | async)?.Details)"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details dynamic content ends -->
            </router-outlet>
        </div>
    </div>
</div>